# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
venv/
.env/
.venv/

# =========================
# Django
# =========================
media/
staticfiles/
db.sqlite3

# Migrations cache
*/migrations/__pycache__/

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Coverage
# =========================
coverage/

# =========================
# Cache
# =========================
.cache/

# =========================
# Uploaded PDFs / reports
# =========================
*.pdf

# =========================
# React temp
# =========================
*.tsbuildinfo

# =========================
# Local configs
# =========================
config.local.js

# =========================
# Python bytecode
# =========================
*.pyc

# =========================
# Mongo
# =========================
*.bson
mongo_dump/


# =========================
# Windows
# =========================
Desktop.ini

# =========================
# PyCharm
# =========================
.idea/*

mistral_client.py
utils.py